<html>
<head>
  <title>Registration Form</title>
</head>
<body>
  <h1>Registration Form</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <form action='/input' method='POST'>
    Email:<input type="text" name="email">
    First Name:<input type="text" name="first">
    Last Name:<input type="text" name="last">
    Birth Date:(MM/DD/YYYY)<input type="text" name="birddt">
    Password:<input type="password" name ="password">
    Confirm Password:<input type="password" name="confirm">
    <input type="submit" value="Submit">
  </form>
</body>
</html>